.table-head{
    display: flex;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #38710c;
}
.cell{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}