:host{
    display: flex;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.cell{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}